body{
	margin:0 auto;
	padding:0;
}
.container{
	overflow: hidden;
	width:100%;
	margin:0 auto;
	background-color: #FAFBF3;
	align:center;
}

.header{
	height:50px;
	width:1250px;
	margin:0 auto;
	align:center;
}

.logo{
	padding-top:20px;
  float:left;
	width:340px;
	height:75px;
position:relative;
text-decoration: none;
margin:0 auto;
align:center;
padding-left:70px;
}


.underline:hover:after {
  width:219px;
	right:69px;
text-decoration: none;
}
.underline:after {
	content: '';
	position: absolute;
	right:69px;
	top:0;
	margin-top:65px;
	width:0;
	content
	background: transparent;
		transition: width 0.2s ease, background-color 0.2s ease;
	border-top:0.5px solid #bdbfc1;
}
.logo #b{
	text-decoration: none;
		position: absolute;
	color:white;
	margin-top:52px;
	height:16px;
	margin-left:116px;
}


#links{
	padding-top:8px;
	margin-right:70px;
}

#links a {
	letter-spacing: 2px;
	font-family: Futura, sans-serif;
	font-weight: normal;
text-decoration:none;
color:black;
padding:30px 30px 0 20px;
margin:0;
font-size:20px;
float:right;
width:50px;
}
.mainpic{
	height:580px;
}

.imageslide > div >img {
  width: 24.6%;
	margin:0 auto;
	align:center;
}
.imageslide > div {
	width: 100%;
  overflow: hidden;
	margin:0 auto;
	align:center;
	background-color: #FAFBF3;;
}

.seeall{
		font-size:15px;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
		text-decoration:none;
		color:black;
		width:100%;
		text-align: center;

}

.scrolltext{
	width:100%;
	height:70px;
	padding-top: 10px;
	background-color: white;
	position:absolute;
	margin-top:700px;
}
.scrolltext p{
	height:500px;
	margin-left:100px;
	margin-right:100px;
	text-align: center;
	font-family: Arial;
	font-size: 15px;
}
.content2 {
	background-color: #d2d3d5;
  height:1500px;
	position:relative;
}


.footer{
	width:100%;
	height:110px;
	float:left;
	background-color: #e6e7e8	;
		margin:0 auto;
		align-items: center;
		justify-content: center;
}
.contacts p{
	float:left;
	margin:0 auto;
	padding-top:10px;
}
.contacts{
width:1250px;
margin: 0 auto;
	background-color: #e6e7e8	;
}

.socials{
	padding-left:450px;
	padding-top: 15px;
		background-color: #e6e7e8	;
}
.socials p {
	padding-top:10px;
	margin: 0 auto;
	padding-left:40px;
}
.socials a {
	padding-right:5px;
	text-decoration: none;
}

.copy p {
	text-align: center;
		width:100%;
			margin:0 auto;
			padding-top:5px;
		padding-bottom:5px;
		background-color: #d2d3d5;
		float:left;

}

/*about*/

.papa h2 {
	font-size: 24px;
	font-family: Arial;
	padding-top:50px;
	width: 756px;
	margin:0 auto;
	align:center;
}
.papa p {
	padding-top:25px;
	width: 756px;
	margin:0 auto;
	align:center;
	font-size: 15px;
	font-family: Arial;
}


.aboutcontent{
	height:200px;
	width:800px;
	margin:0 auto;
	align:center;

}
.aboutcontent div{
	float: left;
	height:180px;
	margin:0 auto;
}

.aboutcontent ul {
	display:inline-block;
	margin:0 auto;
	align:center;
	font-size: 14px;
	font-family: Arial;
}

.aboutcontent h4 {
		display:inline-block;
		padding-right:36px;
		margin-left:10px;
		font-size: 19px;
		font-family: Arial;

}
.aboutcontent h2{
	padding-top:50px;
	width: 756px;
	margin:0 auto;
	font-size: 24px;
	font-family: Arial;
}
.aboutcontent p {
	padding-top:25px;
	width: 756px;
	margin:0 auto;
	align:center;
	font-size: 12px;
	font-family: Arial;
}

/*works*/
.papa > div {
  float: left;
  width: 100%;
	background-color: #FAFBF3;
}
.papa > div >img {
  width: 100%;
}
.content > div{
	float: left;
  width: 100%;
  overflow: hidden;
	margin:0 auto;
	align:center;
	background-color: #FAFBF3;
}
.content > div >img {
  width: 24.6%;
	margin:0 auto;
	align:center;
}

/*blog*/
.blogmainpic{
	width:1250px;
	float:left;
	margin:0 auto;
}
.blogmainpic > img {
	width:30%
}
.blogtext{
	float:right;
	padding-right:100px;
	height:180px;
	width:730px;
	margin:0 0 20px;
}

.blogtext p{
	width:600px;
}

.blogtext h6{
	color: #999999;
}

/*contacts*/

.message{
  height:350px;
}
.message input {
	margin-right: 0px;
	margin-left:50px;
	border: 0;
border-bottom: 1px solid #e6e7e4;
outline: 0;
background-color: #fafbf3;
}
.message p {
	margin-right: 0px;
	margin-left:50px;
	color:gray;
	font-size: 0.8em;
	margin-bottom:0;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
#message-text{
	border:1px solid #e6e7e4;
	height:100px;
	width:500px;
	margin-right: 0px;
	margin-left:50px;
outline: 0;
background-color: #fafbf3;
}
.minidiv{
	margin:100px auto;
	height:200px;
	width:700px;
}
.minidiv input{
	width:220px;
}
.minidiv button{
	border:none;
		background-color: #FAFBF3;
	display:block;
	padding-top:10px;
	margin-left:500px;
	font-weight: bold;
	font-size: 14px;
}

.message-text{
	height:80px;
top: 50%;
left: 50%;
}
